* {
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 0 20px;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  background: #3cba92;
}

h1 {
  margin: 0;
}

.search-result {
  color: #fff6a4;
  margin-bottom: 20px;
}

.errorMessage {
  color: #be4562;
}
