header {
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.logo {
  margin: 10px 0;
  color: #fff;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 0.8;
}

.search-form {
  white-space: nowrap;
}

.search-bar {
  min-width: 200px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border: #fff 1px solid;
  border-radius: 5px;
}

.search-button {
  color: #fff;
  background: #3cba92;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  border: #fff 1px solid;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
.search-button:hover,
.search-button:focus,
.search-button:active {
  background: #6bc6a9;
}
